$curated-font-size: 17px;
$curated-line-height: 1.33;
$curated-rhythm: 1em * $curated-line-height;
$curated-half-rhythm: $curated-rhythm / 2;

.contents.curated-home {
  max-width: 100%;
  font-size: $curated-font-size;
  line-height: $curated-line-height;
}

.curated-item {
  @include clearfix;
  margin-bottom: 1.5 * $curated-rhythm;
}

.curated-home .post-content {
  max-width: 690px;
  float: left;
}

#list-area h2.post-title {
  margin-top: $curated-rhythm;
  margin-bottom: $curated-half-rhythm;
  font-size: 1em;
}

.curated-home {
  .post-content p {
    margin-top: 0;
    margin-bottom: $curated-half-rhythm;
  }

  img.teaser {
    width: 100%;
    display: block;
    max-height: 300px;
    max-width: 100%;
    margin: 0 0 $curated-half-rhythm 0;
    object-fit: cover;
  }

  a.lightbox {
    display: none;
  }

  .post-meta {
    float: left;
    line-height: 0.8em;
    font-size: 0.8em;
    margin-left: $curated-rhythm;
    border-top: 2px solid #d4d4d4;
  }
}

.curated-topic-list-bottom {
  clear: both;
}

.nav-pills > li {
  margin-right: 15px;
}